*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    overflow: hidden;

}
header{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    

}
header img{
    height: 120px;
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    margin: 30px;
    
}
.idk{
     margin-right: 400px;
     padding-top: 20px;
     display: flex;
     align-items: center;
    
}


.idk h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-left: 60px;
    color: rgb(8, 122, 38);
    
}
.logo{
    margin-left: 10px;
}
ul{
    display: flex;
    gap: 40px;
}
li{
    list-style: none;
    display: inline;

}
a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

.content{
    height: 80%;
    background: #DDFED8;
    display: flex;
    align-items: center;  
}

form  {
    width: 50%;
    height: 400px;
    padding: 20px;
    margin-left: 20px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right : 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5); 
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;

    
}
form .box-input input{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: solid  rgb(8, 122, 38);
}

.help{
    height: 100%;
    width: 40%;
}
.help img{
    height:90%;
    width: 90%;
}
label {

    white-space: normal;
    font-size: 16px; 
    margin-bottom: 5px; 
    font-weight: 600;
}

#mod{
    width:70px ;
    position: absolute;
    margin-left: 10px;
    
    
}

input::placeholder{
    padding: 10px;
}


select{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: solid  rgb(8, 122, 38);
    cursor: pointer;
    
}

#btn input{
    background-color:  rgba(108, 155, 108, 0.57); 
    height: 60px;
    
    margin-top: 60px;
    cursor: pointer;
    border: solid black;
}

  #btn input[type="submit"]{
    font-size: 1.5rem;
    font-weight: 600;
    color: black;

    }
    #btn :hover
{
  background-color: #DDFED8;
}









#bttn button{
    background-color:  #FF0000; 
    height: 60px;
    width: 200px;
    margin-top: 60px;
    cursor: pointer;
    border: solid black;
    border-radius: 6px;
}

  #bttn button p{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;

    }
    #bttn :hover
{
  background-color: #701818;
}